h1{
    position: relative;
    margin-left: 150px;
    width: 400px;
    text-align: center;
    background: yellow;
    color: black;
    border: 2px solid black;
    border-radius: 7px;
}

h1:hover{
    transform: scale(1.1);
    transition: .5s;
}

h2{
    text-align: center;

}

p{
    text-align: center;
}
@media screen and (max-width: 500px) {
    body{
        background-color: black;
    }
    h1{
        position: relative;
        margin-left: 25px;
        width: 400px;
        text-align: center;
        background: black;
        color: yellow;
        border: 2px solid yellow;
        border-radius: 7px;
    }

    h1:hover{
        transform: scale(1.1);
        transition: .5s;
    }

    h2{
        text-align: center;
        color: white;
    }

    p{
        text-align: center;
        color: white;
    }
}

/* Min-width*/
@media screen and (min-width: 800px) {
    body{
        background-color: yellow;
    }
    h1{
        position: relative;
        margin-left: 170px;
        width: 400px;
        text-align: center;
        background: none;
        color: white;
        border: 2px solid white;
        border-radius: 7px;
    }

    h1:hover{
        transform: scale(1.1);
        transition: .5s;
        color: white;
    }

    p{
        color: black;
    }

}

