/* 4 - External CSS 
h3{
    color: green;
    font-size: 60px;
}
p{
    color: blueviolet
}

/* 6 - Classes */
.paragrafo{
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* 7 - IDs */
#titulo-exclusivo{
    background-color: rgba(4, 8, 247, 0.945);
    color: aquamarine;
    padding: 10px;
}

/*8 - Multiplas Regras, ordem do CSS
h2{
   border-bottom: 2px solid red; 
}*/
.titulo{
    border-bottom: 2px solid blue;
}
/*9 - Multiplas Regras, ordem do CSS*/
#algum-titulo{
    border-bottom: 2px solid green;
}
/*10 - Estilizado com nome da cor*/
.nome-cor{
    color: crimson;
}
/*11 - Estilizado com Hexadecimal*/
.hex{
    color: #55a399;
}
/*12 -  Estilizado com Hexadecimal*/
.hex-mais{
    color: #54e;
}
/*12 - Estilizado com RGB*/
.rgb{
    color: rgb(43, 255, 0);
}

/*12 - Estilizado com RGB*/
.mix-rgb{
    color: rgb(rgb(255, 1, 1), rgb(40, 173, 40), rgb(98, 98, 177));
}
/*13 - Estilizado com rgba*/
.rgba{
    color: rgba(200, 7, 214, 0.349);
}

/*14 - Estilizado com HSL*/
.hsl{
    color: hsl(254, 75%, 28%);
}

/*15 - Estilizado com background-color/bg*/
.background-color{
    background-color: rgb(136, 255, 0);
    color: rgb(0, 0, 0);
}

/*15 - Estilizado com bg*/
.background-color{
    background-color: rgba(255,0,0);
    color: blue;
}

/*16 - Estilizado com bg-opacity*/
.bg-opacity > p{
    background-color: forestgreen;
    color: pink;
}

.exercicio > p{
    background-color: rgb(136, 255, 0);
    color: rgb(255, 255, 255);
    opacity: 40%;
}

.rgba-opacity > p{
    background-color: rgba(20, 172, 9, 0.274);
    color: 0.2;
}
.rgba-opacity > p{
    background-color: rgba(20, 172, 9, 0.274);
    color: 0.2;
    background-image: url(../img/Prédios.jpeg);
}

.not-center-bg{
    border-radius: 20px;
    height: 400px;
    width: 400px;
    background-image: url(../img/toquio-1140x675.png);
}

.center-bg {
    border-radius: 20px;
    height: 400px;
    width: 400px;
    background-image: url(../img/toquio-1140x675.png);
    background-position: center;
    background-size: cover;
}

.not-center-bg:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.center-bg:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.largura-altura{
    height: 20px;
    width: 20px;
    background-color: blue;
}

.largura-altura2{
    height: 300px;
    background-image: url(../img/Ville\ Cyberpunk.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sem-padding{
    background-color: red;
    color: white;
}
.com-padding{
    padding: 20px;
    background-color: red;
    color: white;
}

.shortcut{
    padding: 10px 10px 10px 10px;
    background-color: #ff4;
}

.shortcut-2{
    padding: 10px 10px;
    background-color: #ff4;
}

.border-box{
    border: 1px solid black;
    border-radius: 30px;
    width: 600px;
    padding: 50px;
    box-sizing: border-box;
}

.border-box2{
    border: 1px solid black;
    border-radius: 30px;
    width: 600px;
    padding: 50px;
    box-sizing: border-box;
}

.border{
    background-color: #54e;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.border-2{
    background-color: #54e;
    padding: 25px;
    border: 1px solid rgb(0, 0, 0);
}

.borda-esquerda{
    border-radius: 4px;
    box-shadow: 2px 3px 3px black;
    margin: 50px 50px;
    color: white;
    background-color: #54e;
    border: 1px solid black;
    border-left: 3px solid red;
}

.borda-direita{
    border-radius: 4px;
    box-shadow: 2px 3px 3px black;
    margin: 50px 50px;
    color: white;
    background-color: #54e;
    border: 1px solid black;
    border-right: 3px solid red;
}

.borda-inferior{
    border-radius: 4px;
    box-shadow: 2px 3px 3px black;
    margin: 50px 50px;
    color: white;
    background-color: #54e;
    border: 1px solid black;
    border-bottom: 3px solid red;
}

.borda-superior{
    border-radius: 4px;
    box-shadow: 2px 3px 3px black;
    margin: 50px 50px;
    color: white;
    background-color: #54e;
    border: 1px solid black;
    border-top: 3px solid red;
}

.borda-arredondada{
    margin: 50px 50px;
    padding: 35px;
    border: 4px solid red;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.borda-arredondada:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}

.borda-arredondada2{
    margin: 50px 50px;
    padding: 35px;
    border: 4px solid rgb(34, 2, 95);
    border-radius: 50px;
    color: white;
    background-color: black;
}

.borda-arredondada2:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}

.margin-left{
    margin-left: 50px;
    padding: 35px;
    border-left: 15px solid red;
    color: white;
    background-color: black;
}

.margin-right{
    margin-top: 5px;
    margin-right: 50px;
    padding: 35px;
    border-right: 15px solid red;
    color: white;
    background-color: black;
}

.margin-bottom{
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 35px;
    border-bottom: 15px solid red;
    color: white;
    background-color: black;
}

.margin-top{
    margin-top: 50px;
    padding: 35px;
    border-top: 15px solid red;
    color: white;
    background-color: black;
}

.shorthand{
    text-align: center;
    margin: 50px;
    color: rgb(212, 255, 0);
    background-color: rgb(0, 0, 0);
}

.shorthand:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}

.box-model{
    margin-left: 50px;
    border: 3px solid rgb(204, 0, 71);
    padding: 15px 25;
    width: 200px;
    height: 400px;

    text-align: center;
    background-color: black;
    color: #ff4;
}

.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
    border: 1px solid red;
}

.text-decoration {
    text-decoration: overline;
}

.text-decoration-risc{
    text-decoration: line-through;
}
.text-decoration-3{
    text-decoration: none;
}

.text-lower{
    text-transform: uppercase;
}

.text-upper{
    text-transform: lowercase;
}
.espaco{
    text-align: center;
    letter-spacing: 35px;
}
.serif{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sans-serif{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.monospace{
    font-family: 'Courier New', Courier, monospace;

}
.cursive{
    font-family: cursive;
}
.fantasy{
    font-family: fantasy;
}
p{
    color: black;
}

.italico{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

.fine .bold .bolder {
    font-family: Arial, Helvetica, sans-serif;
}

.fine{
    font-size: 100px;
    font-weight: lighter;
}
.bold{
    font-weight: bold;
    font-size: 100px;
}
.bolder{
    font-weight: bolder;
    font-size: 100px;
}

.small{
    font-size: 15px;
}
.big{
    font-size: 78px;
}